
@screen-sm-max:768px;
@screen-md-max:996px;
/*Colores */
/*@rojo: #9e0001;*/
.degradado{
	background: rgba(226,226,226,1);
background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(236,236,236,1) 24%, rgba(217,217,217,1) 51%, rgba(241,241,241,1) 86%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(24%, rgba(236,236,236,1)), color-stop(51%, rgba(217,217,217,1)), color-stop(86%, rgba(241,241,241,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(236,236,236,1) 24%, rgba(217,217,217,1) 51%, rgba(241,241,241,1) 86%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(236,236,236,1) 24%, rgba(217,217,217,1) 51%, rgba(241,241,241,1) 86%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(236,236,236,1) 24%, rgba(217,217,217,1) 51%, rgba(241,241,241,1) 86%, rgba(254,254,254,1) 100%);
background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(236,236,236,1) 24%, rgba(217,217,217,1) 51%, rgba(241,241,241,1) 86%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}

